.container {
}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.categoryTitle {
  font-size: 1.6rem;
  margin-top: 6px;
  margin-bottom: 1rem;
}

.link {
  margin-top: 3rem;
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

.subheading {
  font-size: 17px;
}

.category.style {
  background-color: #57c4ff31;
}

.category.fashion {
  background-color: #da85c731;
}

.category.food {
  background-color: #7fb88133;
}

.category.travel {
  background-color: #ff795736;
}

.category.culture {
  background-color: #ffb04f45;
}

.category.coding {
  background-color: #5e4fff31;
}

.image {
  border-radius: 50%;
}

.card {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1rem;
  padding: 10px 20px;
  border: 1px solid #9a9393;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cardBox {
  display: grid;
}
.textCapitalize {
  text-transform: uppercase;
  color: crimson;
}

.card:hover {
  transform: translateY(-4px); /* Move button 4px up on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imgCover {
  object-fit: cover;
}
.imgCover:hover {
  transform: scale(1);
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
